@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --blue: #008000;
}
/* src/styles/global.css */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  /* font-family: "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" */
}

/* Example styles */
.scroll-down-style {
  background-color: black; /* Background color when scrolling down */
  transition: background-color 0.3s ease;
}

.scroll-up-style {
  background-color: red; /* Background color when scrolling up */
  transition: background-color 0.3s ease;
}

/* Nav-Bar styles start */
.humburger-icon, .cross-icon{
  display: none;
}
@media only screen and (max-width: 600px){
  .nav-container{
    display: flex;
  }
  .humburger-icon, .cross-icon{
    display: block;
  }
  /* .nav-items{
    display: block;
    position: absolute;
    top: 87px;
    padding-left: 0px;
  } */
}